<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body class="bg-info-subtle">
    <div class="container">
        <center>
        <h1>Cotizacion</h1>
        <form action="/cotizacion" method="post">
            <label for="">Valor del automovil</label>
            <input type="number" name="valor" id="valor" required="true">
            <br>
            <label for="">Porcentaje de pago inicia</label>
         
            <select name="pInicial" id="pInicial">

                <option value="10">10%</option>
                <option value="20">20%</option>
                <option value="30">30%</option>
                <option value="40">40%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select>
            <br>
            <br>
            <br>
            <label for="">Plazos</label>
            <select name="plazos" id="plazos">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
                <option value="60">60 meses</option>
                <option value="72">72 meses</option>
            </select>
            <button type="submit">Calcular</button>
        </form>
    </center>
  
    <div class="container-sm">
    <%
    if(pInicial!=0){%>


        <% let pagoInicial= valor * (pInicial/100); %>
        <% let totalFin = valor -pagoInicial; %>
        <% let pagoMensual = totalFin/plazos; %>
    
  <center>
    <h3>Resumen de la cotizacion</h3>
    <br>
    <table class ="table table-dark table-striped">
        <thead>
            <th>Valor del automovil:</th>
            <th>Porcentaje de pagoInicial :</th>
            <th>Plazos:</th>
            <th>Pago Inicial:</th>
            <th>Total a pagar:</th>
            <th>pago Mensual:</th>
        </thead>
        <tr>
            <td><%=valor%></td>
            <td><%=pInicial%></td>
            <td><%=plazos%></td>
            <td><%=pagoInicial%></td>
            <td><%=totalFin%></td>
            <td><%=pagoMensual%></td>
            
        </tr>
    </table>
<%}%>
</div>
</center>
</div>
</body>
</html>