<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="./css/bootstrap.css">
  <title>Document</title>
</head>
<body class="bg-info-subtle">
    <center>
        
        <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
    <h1><%=titulo%></h1>
    <img src="./img/Logo.png" alt="logo.png">
   
    </div>
      
    <table class ="table table-dark table-striped">
        <tr>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Materias</th>
        </tr>

        <% for (alumno of listado){ %>
            <tr>
                <td><%=alumno.matricula%></td>
                <td><%=alumno.nombre%></td>
                <td><%=alumno.sexo%></td>
                <td><%=alumno.materia%></td>
            </tr>
            <%
        }
        %>
    </table>
</center>


</body>
</html>